/* Sidebar */
.sidebar {
  width: 12%; /* Largura ajustada para 150px */
  height: 100vh; /* Altura total da tela */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50px; /* Agora inicia logo abaixo do header */
  left: 0;
  transition: all 0.3s;
  z-index: 1;
}

/* Sidebar ocupa 10% da largura */
.sidebar {
  width: 10%;
  height: calc(100vh - 30px); /* Preenche a altura restante abaixo do Header */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

/* Lista de itens da sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

/* Estilo dos itens da sidebar */
.sidebar li {
  width: 100%;
  padding: 15px 20px;
  color: #ddd;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

/* Efeito de hover */
.sidebar li:hover {
  background-color: #495057;
  color: #fff;
}

/* Ícones dentro dos itens */
.sidebar li i {
  margin-right: 10px;
}

/* Ícone ativo */
.sidebar li.text-primary {
  color: #007bff;
  font-weight: bold;
}
