@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.conference {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  .header-manifest{

    font-family: "Roboto", serif;
  
    color: #fff;
    border-radius: 5px;
    padding: 0 0 0 10px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
  }